img {
    width: 200px;
    margin-top: 20px;
}

.login {
    margin: 250px 640px 0 640px;
    border: 2px solid #333;
    width: 40em;
    background-color: aliceblue;

    input {
        margin: 50px;
    }

    .validatebutton {
        margin-bottom: 30px;
    }
}