table {
    width: 100%;
    margin-top: 100px;
    border: 2px solid gray;
    background-color: aliceblue;

    tr,
    th,
    td {
        border: 2px solid gray;
    }
}

.footer {
    margin-top: 20px;
    font-size: 35px;

    button {
        float: right;
        margin-right: 2em;
        font-weight: bold;
        width: 200px;
        color: brown;
    }

    .total {
        float: left;
        margin-left: 8em;
        border: 5px solid black;
        font-weight: bold;
        background-color: azure;
    }
}