/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#login {
    float: right;

    img {
        width: 48px;
        border-radius: 50%;
        border: 1px solid black;
        text-align: center;
        margin-top: 3px;
        margin-right: 10px;
    }

    #setup {
        position: relative;
    }

    .pic {
        list-style: none;
    }

    .subnav {
        position: absolute;
        list-style: none;
        display: inline-block;
    }
}

.dropDownProfile {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    width: 150px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;

    .choise {
        list-style: none;
        padding-left: 0px;

        li {
            margin-right: 20px;
            margin-bottom: 10px;

            a {
                color: black;
                width: 100%;
            }
        }
    }
}